
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    color: #1a1a1a;
}

h1, h2, h5 {
    color: #212529;
}

.btn-primary {
    background-color: #3978f3;
    border: none;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    border-radius: 50px;
}

.btn-primary:hover {
    background-color: #265edc;
}

.cta-btn {
    font-size: 1.2rem;
}

.step-box {
    background-color: #f8f9fa;
}

.step-icon {
    color: #3978f3;
}

.arrow-soft-green {
    color: #a3d9a5;
    font-size: 1.1em;
}

.highlight-circle {
    display: inline-block;
    border: 2px solid #3978f3; /* color del círculo */
    border-radius: 50%;
    padding: 0.2em 0.5em;
    font-weight: bold;
    color: #3978f3;
    line-height: 1;
    background-color: rgba(57, 120, 243, 0.1);
}

.steps-container {
  display: flex;
  gap: 0;
  overflow-x: auto;
  padding: 1rem;
  scroll-behavior: smooth;
}

.step-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 10px;
}

.step-label {
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 0.8rem;  
  max-width: 200px;
  line-height: 1.2;
  padding-left: 10px;
}

.step-flecha {
  position: relative;
  min-width: 200px;
  height: 120px;
  clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  flex-shrink: 0;
}
.step-flecha:first-child {
  margin-left: 10px;
}
.step-flecha:last-child {
  margin-right: 10px;
}
.icon-circle {   
  align-items: center;
}

.icon-circle i {
  font-size: 2.5rem;
  color: #fff;
}

.bg-1 { background-color: #96b2ce; padding-right: 20px;}
.bg-2 { background-color: #a4f6e1; padding-right: 20px; }
.bg-3 { background-color: #548ce9; padding-right: 20px;}
.bg-4 { background-color: #1a2634; color: white; padding-right: 30px; }

@media (max-width: 768px) {
  .steps-container {
    flex-direction: column;
    align-items: center;
    overflow-x: visible;
  }

  .step-flecha {
    margin: 0 0 1.5rem 0;
    clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%);
    width: 90%;
    max-width: 300px;
  }

  .step-flecha:first-child {
    margin-top: 0.5rem;
  }

  .step-flecha:last-child {
    margin-bottom: 0.5rem;
  }
  .btn-spacer-mobile {
    margin-bottom: 2rem; /* o más si lo necesitas */
  }
}