body.loading {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

body.loaded {
  visibility: visible;
  opacity: 1;
}

header {
    background-color: #e4e4e4;
    color: #1232ff;
}

header img.logo {
    max-width: 400px; /* Cambiar el tamaño del logo si es necesario */
}

header img.logo-petit {
    max-width: 200px; /* Cambiar el tamaño del logo si es necesario */
}

.contact form button {
  background-color: #1232ff; /* Cambiar color de botón */
  border: none;
}
  
.contact form button:hover {
  background-color: #1232ff; /* Color al pasar el ratón */
}

footer {
  font-size: 0.9em; /* Ajustar el tamaño del texto en el pie de página */
}

.custom-footer {
  background-color: #e4e4e4; /* Cambia por el color gris */
}

.clearfix .d-flex { /* Estilo para la cabecera superior */
  font-size: 0.9rem;
}

.clearfix a {
  color: #fff;
}

.clearfix a:hover {
  text-decoration: underline;
}


  /* Estilo para el cursor de zoom en la imagen */
  .zoomable-image {
  cursor: zoom-in;
  transition: transform 0.3s ease-in-out;
  }

  .zoomable-image:hover {
  transform: scale(1.05);
  }

  /* Estilo para el fondo oscuro y la imagen en pantalla completa */
  #fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  }

  /* Hace que la imagen se vea con un pequeño efecto de aparición */
  #fullscreen-image {
  max-width: 90%;
  max-height: 90%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  /* Para mejorar la experiencia en dispositivos móviles */
  @media (max-width: 768px) {
  #fullscreen-image {
    max-width: 95%;
    max-height: 95%;
  }
  }

  /* Clase que activa la transición */
  .visible {
  opacity: 1 !important;
  }

  /* Cambia el cursor cuando está en modo pantalla completa */
  #fullscreen-overlay {
  cursor: zoom-out;
  }