<header>
  {{ partial "top-bar.html" . }}
  <div class="home-header-wrapper fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-4 home-navbar fixed-top">
      <div class="container-lg">
        <div class="row w-100 align-items-center">
          <div class="col-10 col-lg-3 text-start order-1">
            <a href="/{{ .Lang }}/index.html">
              {{ partial "picture.html" (dict
                "src" "img/logo_GHX_01-01.webp"
                "alt" (i18n "logo")
                "class" "logo"
                "priority" true
              )}}
            </a>
          </div>
          <div class="col-2 d-lg-none text-end order-2">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="col-12 col-lg-9 d-flex flex-column align-items-lg-end order-3 mt-3 mt-lg-0">
            <div class="collapse navbar-collapse mt-2 mt-lg-0 w-100" id="navbarSupportedContent">
              {{ partial "menu.html" . }}
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>