<header>
  {{ partial "top-bar.html" . }}
  <div class="home-header-wrapper fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-4 home-navbar fixed-top">
      <div class="container-lg">
        <div class="row w-100 align-items-center">
          <div class="col-10 col-lg-4 text-start order-1">
            <a href="{{ .Lang }}/index.html">
              <img src="{{ "img/logo_GHX_01-01.webp" | relURL }}" alt="{{ i18n "logo" }}" class="logo">
            </a>
          </div>
          <div class="col-2 d-lg-none text-end order-2">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="col-12 col-lg-8 d-flex flex-column align-items-lg-end order-3 mt-3 mt-lg-0">
            <div class="home-banner mb-2 d-none d-lg-block">
              <div id="banner-rotator">
                {{ if eq .Site.Language.Lang "ca" }}
                  <a href="/ca/test-ciberseguretat/" class="rotator-item active">
                    <img src="{{ "img/banner-ca-1.webp" | relURL }}" alt="Banner sobre la protecció de les empreses amb enllaç al test de ciberseguretat de Guardianhubx.">
                  </a>
                  <a href="/ca/test-ciberseguretat/" class="rotator-item">
                    <img src="{{ "img/banner-ca-2.webp" | relURL }}" alt="Estadística de ciberatacs a empreses i invitació a completar el qüestionari gratuït de ciberseguretat.">
                  </a>
                {{ else if eq .Site.Language.Lang "es" }}
                  <a href="/es/test-ciberseguridad/" class="rotator-item active">
                    <img src="{{ "img/banner-es-1.webp" | relURL }}" alt="Banner sobre la protección de las empresas con enlace al test de ciberseguridad de Guardianhubx.">
                  </a>
                  <a href="/es/test-ciberseguridad/" class="rotator-item">
                    <img src="{{ "img/banner-es-2.webp" | relURL }}" alt="Estadística de ciberataques a empresas e invitación a completar el cuestionario gratuito de ciberseguridad.">
                  </a>
                {{ end }}
              </div>
            </div>
            <div class="collapse navbar-collapse mt-2 mt-lg-0 w-100" id="navbarSupportedContent">
              {{ partial "menu.html" . }}
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>