{{- $date := .date -}}
{{- $lang := .lang -}}
{{- $day := $date.Day -}}
{{- $year := $date.Year -}}
{{- $month := $date.Month -}}

{{- if eq $lang "ca" -}}
  {{- $monthNames := slice "gener" "febrer" "març" "abril" "maig" "juny" "juliol" "agost" "setembre" "octubre" "novembre" "desembre" -}}
  {{- $monthName := index $monthNames (sub $month 1) -}}
  {{- printf "%d de %s de %d" $day $monthName $year -}}
{{- else if eq $lang "es" -}}
  {{- $monthNames := slice "enero" "febrero" "marzo" "abril" "mayo" "junio" "julio" "agosto" "septiembre" "octubre" "noviembre" "diciembre" -}}
  {{- $monthName := index $monthNames (sub $month 1) -}}
  {{- printf "%d de %s de %d" $day $monthName $year -}}
{{- else -}}
  {{- $date.Format "2 January 2006" -}}
{{- end -}}
