<ul class="navbar-nav ms-auto">
{{ if not .IsHome }}
<li class="nav-item">
    <a class="nav-link" href="/{{ .Lang }}/index.html">Home</a>
</li>
{{ end }}
<li class="nav-item">
    <a class="nav-link"
        href="{{ cond (eq .Lang "es") ("/es/test-ciberseguridad/" | relLangURL)
                (cond (eq .Lang "ca") ("/ca/test-ciberseguretat/" | relLangURL)
                                ("/en/cybersecurity-test/" | relLangURL)) }}">
    {{ i18n "test_ciberseguridad" }}
    </a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="prevencionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{ i18n "apren" }}
    </a>
    <ul class="dropdown-menu" aria-labelledby="prevencionDropdown">
    <li>
        <a class="dropdown-item" href="{{ cond (eq .Lang "es") ("/es/formacion-phishing-software/" | relLangURL)
                (cond (eq .Lang "ca") ("/ca/formacio-phishing-software/" | relLangURL)
                                ("/en/cybersecurity-phishing-training/" | relLangURL)) }}">
        Phishing
        </a>
    </li>
    <li>
        <a class="dropdown-item" href="{{ cond (eq .Lang "es") ("/es/objetivos-ciberseguridad/" | relLangURL)
                (cond (eq .Lang "ca") ("/ca/objectius-ciberseguretat/" | relLangURL)
                                ("/en/cybersecurity-goals/" | relLangURL)) }}">
        {{ i18n "objectius" }}
        </a>
    </li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
        href="#"
        id="solucionesDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false">
    {{ i18n "solucions" }}
    </a>
    <ul class="dropdown-menu" aria-labelledby="solucionesDropdown">
        <li><a class="dropdown-item" href="{{ "guardianradar" | relLangURL }}">GuardianRadar 🚀</a></li>
        <li><a class="dropdown-item" href="{{ "ironwall" | relLangURL }}">IronWall</a></li>
        <li><a class="dropdown-item" href="{{ "smartlayer" | relLangURL }}">SmartLayer</a></li>
        <li><a class="dropdown-item" href="{{ "lightcore" | relLangURL }}">LightCore</a></li>
        <li><a class="dropdown-item" href="{{ "educraft" | relLangURL }}">EduCraft</a></li>
        <li><a class="dropdown-item" href="{{ "soloshield" | relLangURL }}">SoloShield</a></li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="/{{ .Lang }}/newsletter/">Newsletter</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/{{ .Lang }}#contact">{{ i18n "contact" }}</a>
</li>
</ul>