<div id="top-bar" class="bg-primary text-white py-1">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="d-md-flex align-items-center">
      <a href="tel:+34934153115" class="text-white"><i class="fa fa-phone me-2"></i></a>
      <a href="tel:+34934153115" class="d-none d-md-inline text-white me-4 text-decoration-none">+34 93 415 31 15</a>
      <a href="mailto:info@guardianhubx.com" class="text-white"><i class="fa fa-envelope me-2"></i></a>
      <a href="mailto:info@guardianhubx.com" class="d-none d-md-inline text-white me-4 text-decoration-none">info@guardianhubx.com</a>
      <a href="https://www.tiktok.com/@guardianhubx" class="text-white" target="_blank"><i class="fa-brands fa-tiktok me-2"></i></a>
      <a href="https://www.tiktok.com/@guardianhubx" class="d-none d-md-inline text-white me-4 text-decoration-none" target="_blank">GuardianHubX</a>
      <a href="{{ cond (eq .Lang "ca") "/blog/ca/" "/blog/" | relURL }}" class="text-white"><i class="fa fa-blog me-2"></i></a>
      <a href="{{ cond (eq .Lang "ca") "/blog/ca/" "/blog/" | relURL }}" class="text-white d-none d-md-inline text-decoration-none">News / Blog</a>
    </div>
    <select id="languageSwitcher" class="form-select form-select-sm w-auto">
      <option value="ca" {{ if eq .Lang "ca" }}selected{{ end }}>Català</option>
      <option value="en" {{ if eq .Lang "en" }}selected{{ end }}>English</option>
      <option value="es" {{ if or (eq .Lang "es") (not (in (slice "ca" "en") .Lang)) }}selected{{ end }}>Español</option>
    </select>
  </div>
</div>