{{/* Shortcode: partners */}}
<div class="row text-center">
  {{ $lang := .Page.Lang }}
{{ $partners := partial "partners-list.html" . }}
<div class="row text-center">
  {{ range $partners }}
    <!-- tu rendering actual -->
  {{ end }}
</div>
  {{ range $partners }}
    <div class="col-md-4 mb-4 text-center">
      {{ $isExternal := .external | default false }}
      {{ $link := cond $isExternal .url (relLangURL (printf "/%s/" .url)) }}
      <a href="{{ $link }}" target="{{ if $isExternal }}_blank{{ end }}">
        {{ partial "picture.html" (dict
          "src" .img
          "alt" .alt
          "class" "img-fluid mb-2"
          "style" "max-height: 75px;"
          "lazy" true
        )}}
      </a>
      <h3>
        <a href="{{ $link }}" class="text-decoration-none" target="{{ if $isExternal }}_blank{{ end }}">{{ .name }}</a>
      </h3>
        {{ with (index site.Data.partners .key) }}
          <p>{{ index . $lang }}</p>
        {{ end }}
    </div>
  {{ end }}
</div>